/* styles.css */

/* General styles */
body {
    font-family: cursive;
    margin: 0;
    padding: 0;

}

.heads {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}


.cate ul li a {
	color:green;
	text-decoration: none;	
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    padding: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
}
main {

	 display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 15px;
}
.left{

	width:20%;
	height: 80vh;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	margin: 16px 10px 10px 20px;
    border-radius: 10px;
}
.main {
	width: 76%;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.frm {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

/* Front-end styles */
.product {
	margin-top:1rem;
	color: green;
	padding: 10px;
	height: 230px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    width: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.product img {
    max-width: 100%;
    height: auto;
}


.product h2, p{
	margin-left: 8px;
}
.price {
    font-weight: bold;
   	color:red;
    font-size: 1.25rem;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

/*passwordChange*/
.main_frame {
	width: 76%;
}

/* Admin panel styles */
.section {

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    width: 300px;
}

.section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

.footer {

    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    
}


.container {
	width: 100%;
    padding: 20px;
}

.left-side {
    flex: 1;
    padding-right: 20px;
}

.left-side label, textarea {
	padding-left: 10px;
}
.right-side {
    flex: 1;
    padding-left: 20px;
}
.form{
	display: flex;
	justify-content: space-evenly;
	text-align: left;
}



label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333;
    color: white;
}

/*order*/
.order {

	background-color: white;
}

.order .order_form {
	width: 500px;
	height: 500px;
	background-color: #f9f9f9;
	margin: auto;
	text-align:left;
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
.order .order_form label, input {
	margin-left: 20px;
	padding: 5px;	
	font-style: italic;
}
.order .order_form label span{
	font-weight: bolder;
}

.userPanel {
	height: 450px;
	width: 450px;
	margin: auto;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userPanel label, input {
	margin-left: 10px;
	padding: 5px;
	font-weight: normal;
}

.userPanel input{
	width: 350px;
}

.userPanel button {
	margin-left: 180px;	
}

.cate ul li{
	padding: 20px;
	
}

.cate ul li:hover{
	font-size: 20px;
	cursor: pointer;	
}


/*ContactUs*/
.contact_frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.left_contact{
	width:40%;
	height: 80vh;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	margin: 16px 10px 10px 20px;
    border-radius: 10px;
    padding: 20px;
}

.left_contact h2, p {
	padding: 10px;	
}

.left_contact span {
	font-weight:bolder;
	
}

.main_contact {
	width: 50%;
	display:block;
}

.main_contact label {
	font-weight: normal;
	padding-left: 0.5rem;
}

/* .main_contact form input{
	width: 200px;
	border: 1px solid green;
	border-radius: 10px;
} */


/*orderpanel*/
.order_div span {
	color:d1ffbd;
}

.orderPanel {
	width: calc(100% - 25%);
}

/*profile*/

.profile_form {
	margin-top: 1rem;
	color: #333;
	padding-left:2rem;
}

.main_frame .profile_form{
	padding-left: 2rem;	
}

.profile_form h2 {
	text-align: left;
	margin-bottom: 1rem;
}



.profile_form label {
	font-weight: normal;
	padding-left: 0.5rem;
}

.profile_form input {
	width: 42rem;
}
.main_frame .profile_form input {
	width: 40rem;
}
.profile_form button a{
	color:#fff;
}

.profile_form  button:hover > a{
	color:#333;
}
/*Review*/
.review_right {
	width: 76%;
}

.review_right button {
	height:50px;
	width:150px;
}

.review_right .table {
	border: 1px solid #333;
}

.review_right td {
	width: 250px;
}
.icon {
	text-align:center;

	padding-left: 10px;
}
.icon i {
	font-size: 30px;
}

/*dashboard admin panel*/
.transactionPanel {
	display: flex;
	flex-wrap: wrap;
	width: 1205px;
	margin-top:1px;
}

.dashboard {
	padding: 10px 25px;
    background-color: #333;
    color: white;
    width: 20%;
   
}

.dashboard h2 {
	font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
}

.dashboard ul {
	    padding-left: 13px;
}

.dashboard a{
	    font-size: 14px;
}

.dashboard li:hover {

    padding: 5px 20px;
    text-align: left;
    transition: 0.5s ease-out;
}

.dashboard-content {
    background-color: #333;
    width: 75.2%;
    margin-left: 5px;
    color: white;
}

.dashboard-content table {
	margin: auto;
	width: 95%;
}

.dashboard-content h2 {
    padding: 5px 0 12px 15px;
}

.dashboard-content th, td {
	text-align:center;
}
