/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    padding: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
}
main {
	 min-height:85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.frm {
    min-height:85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Front-end styles */
.product {
    min-height: 40vh;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #333;
    font-size: 1.25rem;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

/* Admin panel styles */
section {
    min-height: 55vh;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    width: 300px;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

.footer {

    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    
}


.container {
	width: 100%;
    padding: 20px;
}

.left-side {
    flex: 1;
    padding-right: 20px;
}

.right-side {
    flex: 1;
    padding-left: 20px;
}
.form{
	display: flex;
	justify-content: space-evenly;
	text-align: left;
}



label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

